table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
th {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  background: #f1f1f1;
}
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
