{# mypage.html マイページ #}

{% extends "base.tpl" %} {# 親テンプレートを指定 #}

{% block title %}マイページ{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block info %}
		<h3>マイページ</h3>
		アカウント名：{{myinfo.name}}<br>
    スクリーンネーム：<a href="https://twitter.com/{{myinfo.screen_name}}">@{{myinfo.screen_name}}</a><br>
		つぶやき数：{{myinfo.statuses_count}}<br>
		フォロー：{{myinfo.friends_count}}<br>
		フォロワー：{{myinfo.followers_count}}<br>
		お気に入り数：{{myinfo.favourites_count}}<br>
		{{ super() }}
{% endblock %}

{% block content %}
			<h3>コンテンツ</h3>
      {{message}}
      <a href="/getBlockedList">ブロックしているユーザーのリストをJSONで取得</a><br><br>

      <a href="/deleteTweet">ツイート全削除（メンテナンス中）</a><br><br>

      <a href="/remove">フォロー返してない人一括リムーブ（メンテナンス中）</a><br><br>
{% endblock %}
